Release
.vs
ezorsia/ezorsia.vcxproj.user
out
ezorsia/Debug
ezorsia/Release
ezorsia/ReleaseMinimal/
.idea/
_*/
_*.txt
_*.log
detours-src/
ezorsia/detours/
_kaentake_ref/
_wzlib_ref/
tmp_ida_*.json
*.user
